@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2>Moonmining Parser</h2>

<h4>@ViewData["Message"]</h4>

<hr />
<form asp-controller="MoonMining" asp-action="Parse">
    <p>
        <div>
            <textarea id="text" name="data" cols="100" rows="20"></textarea>
            <input type="submit" value="Senden" />
        </div>
    </p>
</form>

<h4>Or go to Database</h4>

<div>    
    <form asp-action="Summary" method="get">
        <div>From: <input name="StartDay" id="StartDay" type="date" value="@ViewData["LastWeek"]" /> To: <input name="EndDay" id="EndDay" type="date" value="2018.10.10" /></div>
        <input type="submit" value="Show" />      
    </form>    
</div>